:root {
    --background-color: rgb(245, 104, 79);
    --background-color-form: white;
    --text-color-form: black;
    --button-color: rgb(73, 245, 73);
    --link-color-side: white;
    --soft-color-white: #FBFAF5;
    --font-size-title-form: clamp(1.6rem, 4.2vw, 3.4rem); 
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: Oswald;
    background: var(--background-color);
    color: white;
}

/** BACKGROUND IMAGE SECTION **/

.bg-img-cont {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(images/bg-img-plant.jpg);
    background-position: center center;
    background-size: cover;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-position-bottom {
    font-size: 0.8rem;
    color: var(--link-color-side);
   position: absolute;
   bottom: 8px;
}

.item-position-bottom > a {
    text-decoration: underline;
    color: var(--link-color-side);
}

.container-img-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    padding: 10px;
}

img {
    width: 60px;
}

h1 {
    font-family: StayWithMe;
    font-size: 3rem;
    color: white;

    text-align: center;
}

/** FORM SECTION **/

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;

}

.container-form-item > input {
    border: none;
    border-bottom: 2px solid black;
}

.item-flex-row {
    display: flex;
    gap: 50px;
    margin: 20px 0;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.container-form {
    border-radius: 7px;
    background-color: var(--background-color-form);
    color: var(--text-color-form);
    padding: 10px 20px;
}

.container-form-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

}

.form-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-acc-button {
    padding: 6px 30px;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-family: Oswald;
    background: var(--button-color);
    transition: color 0.2s;
}

.create-acc-button:hover {
    color: var(--soft-color-white);
}

a {
    color: var(--button-color);
    text-decoration: none;
    transition: text-shadow 0.3s;
}

a:hover {
    --button-color: rgb(45, 250, 45);
    text-shadow: 0 0 2px var(--button-color);
}
h2 {
    font-size: var(--font-size-title-form);
}

/** VALIDATION **/

.container-form-item > input:user-valid {
    border-color: rgb(4, 247, 4);
}

.container-form-item > input:user-invalid {
    border-color: red;
}